@model X.PagedList.IPagedList<DevXuongMoc.Models.News>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom:1rem">
        <!-- Tiêu đề -->
        <h1 class="text-left" style="color:black;margin-right:10rem">TIN TỨC</h1>

        <!-- Thanh tìm kiếm -->
        <div class="d-flex gap-2" style="margin-top:1rem">
            <form action="" method="get" class="d-flex align-items-center">
                <input type="text" name="name" id="keyword" class="form-control me-2" placeholder="Nhập tên cần tìm..." value="@ViewData["CurrentFilter"]">
                <button type="submit" style="width:2.4rem;height:2.4rem" class="btn btn-primary">
                    <i class="bi bi-search"></i> <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <a asp-action="Create" class="btn btn-success" style="height:2.4rem">
                <i class="bi bi-plus-circle"></i> Thêm Mới
            </a>
        </div>
    </div>
</div>
<table class="table table-hover table-bordered align-middle">
    <thead >
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Code)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Content)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MetaTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isdelete)
            </th> *@
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td> *@
                <td>
                    <img src="@item.Image" alt="@item.Title" style="width:80px; height:60px;" />
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.MetaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isdelete)
            </td> *@
                <td>
                    <div class="btn-group" role="group" style="width:205px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-edit"></i> Sửa
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mx-2">
                            <i class="fa-solid fa-info-circle"></i> Chi tiết
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" onclick="return confirmDelete(@item.Id);">
                            <i class="fas fa-trash"></i> Xóa
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
<div class="d-flex justify-content-center mt-4">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})
</div>
<script>
    function confirmDelete(id) {
        if (confirm('Bạn có chắc chắn muốn xóa?')) {
            // Nếu nhấn OK, thực hiện xóa
            window.location.href = '/AdminUsersController/Delete/' + id;
            return true; // Cho phép thực hiện hành động
        } else {
            return false; // Không thực hiện hành động
        }
    }
</script>
