@model IEnumerable<WebGiay.Models.Product>

<div class="container my-5">
    <h1 class="text-center mb-4">Danh sách sản phẩm</h1>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text">
                            Mô tả: @product.Description <br />
                            Giá: @string.Format("{0:N0}", product.Price) VND <br />
                        </p>
                        <p>@product.Quantity</p>
                        <a asp-area="CustomerUser" asp-controller="Carts" asp-action="Add" asp-route-id="@product.ProductId" asp-route-userId="@Context.Session.GetInt32("UserId")">
                            <i class="fi fi-bs-shopping-bag">Mua hàng</i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>