@model QuanLyVienPhi.Models.Bhyt

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<link rel="stylesheet" href="~/css/Delete.css" />
<h1>Xóa</h1>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTheBhyt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTheBhyt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MienGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MienGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenhNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenhNhan.BenhNhanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiTuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiTuong.DoiTuongId)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="BhytId" />
        <div class="button-group">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="back-button">Quay lại</a>
        </div>
    </form>
</div>
