@model QuanLyVienPhi.Models.ChiTietPhong

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<link rel="stylesheet" href="~/css/Delete.css" />
<h1>Xóa</h1>
<hr />

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenhNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenhNhan.BenhNhanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phong.PhongId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChiTietPhongId" />
        <div class="button-group">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="back-button">Quay lại</a>
        </div>
    </form>
</div>
