@model IEnumerable<QuanLyVienPhi.Models.ChiTietPhong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenhNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenhNhan.BenhNhanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phong.PhongId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChiTietPhongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChiTietPhongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChiTietPhongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


