@model IEnumerable<QuanLyVienPhi.Models.ChiTietThuoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BenhNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienThuoc)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BenhNhan.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thuoc.TenThuoc)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienThuoc)
            </td>
            
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChiTietThuocId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChiTietThuocId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChiTietThuocId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
