@model QuanLyVienPhi.Models.Giuong

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Giuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGiuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGiuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phong.PhongId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GiuongId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
