@model QuanLyVienPhi.Models.ChiTietDichVu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}
<link rel="stylesheet" href="~/css/Details.css" />

<h1>Chi Tiết</h1>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenhNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenhNhan.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DichVu.TenDichVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
    <div class="button-group">
        <a asp-action="Edit" asp-route-id="@Model?.ChiTietDichVuId" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="back-button">Quay lại</a>
    </div>
</div>
