@model QuanLyVienPhi.Models.Ytum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<link rel="stylesheet" href="~/css/Details.css" />

<h1>Chi Tiết</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <div class="button-group">
        <a asp-action="Edit" asp-route-id="@Model?.YtaId" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="back-button">Quay lại</a>
    </div>
</div>

