@model QuanLyVienPhi.Models.Admin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}
<link rel="stylesheet" href="~/css/Details.css" />

<h1>Chi Tiết</h1>

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
       
    </dl>
    <div class="button-group">
        <a asp-action="Edit" asp-route-id="@Model?.AdminId" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="back-button">Quay lại</a>
    </div>

</div>
