@model IEnumerable<QuanLyVienPhi.Models.Khoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KhoaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KhoaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KhoaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
