@model IEnumerable<QuanLyVienPhi.Models.ThanhToan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuNgan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.HoaDonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuNgan.ThuNganId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThanhToanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThanhToanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThanhToanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
